{#
/**
* @file
* Default theme implementation for my template.
*
*/
#}
{%
  set item_classes = [
    'item',    
  ]
%}

{% set break = false %}

<div align="center" class="template">	
{%- if rows -%}		
	{% for i, row in rows if not break %}
		<div id="item-{{ i }}" {{ attributes.addClass(item_classes) }} >
			<div class="item-title ">
				<a class="item-link" href="/Knife/test_db/show/{{ row.data.tag }}">{{ row.data.tag }}</a>
			</div>		 	
			<div class="item-body">{{ row.data.title }}</div>
			<img src="{{ row.data.img }}">
		</div>

		{% if i == 5 %}
	       	<hr>
	   	{% endif %}	

	{% endfor %}		   
{%- endif -%}	
	
{%- if rods -%}		
	<h1>Rods exist</h1>
	{% for rod in rods  %}
		<div class="tag-item" }} >
			<div class="item-title ">
				<a class="item-link" href="#">{{ rod.data.tag }}</a>
			</div>	
			<div class="item-body">{{ rod.data.title }}</div>
			<img src="{{ rod.data.img }}">		
		</div>					   	
	{% endfor %}
{%- endif -%}

</div>


