/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/../../bootstrap/stylesheets/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* line 9, ../bootstrap/stylesheets/bootstrap/_normalize.scss */
/* line 9, ../assets/sass/my_style.scss */
/* line 11, ../assets/sass/my_style.scss */
.region-content h1 {
  color: black;
}

/* line 15, ../assets/sass/my_style.scss */
body {
  padding-top: 108px !important;
  background-color: black;
}

@media (min-width: 1450px) {
  /* line 21, ../assets/sass/my_style.scss */
  .container {
    width: 1370px;
  }
}
/* line 26, ../assets/sass/my_style.scss */
label {
  color: #333333;
}

/* line 30, ../assets/sass/my_style.scss */
.nopadding {
  padding: 0;
}

/* line 34, ../assets/sass/my_style.scss */
.user-logged-in {
  padding-top: 187px !important;
}

/* line 38, ../assets/sass/my_style.scss */
.user-logged-in header {
  margin-top: 79px !important;
}

/* line 42, ../assets/sass/my_style.scss */
footer {
  min-height: 60px;
  width: 100%;
  color: white;
}

/* line 48, ../assets/sass/my_style.scss */
footer div {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*
 * Nav bar
 */
@media (min-width: 1200px) {
  /* line 58, ../assets/sass/my_style.scss */
  .navbar-header {
    float: none;
  }
}
/* line 63, ../assets/sass/my_style.scss */
#navbar {
  background-image: url(/Knife/sites/default/files/starfield-banner.jpg);
}

/* line 67, ../assets/sass/my_style.scss */
#block-undead-search {
  margin: 1.7em 2em 0 0;
  position: relative;
  float: right;
  right: auto;
  top: auto;
  color: #fff;
}

/* line 76, ../assets/sass/my_style.scss */
#search-block-form {
  width: 156px;
  position: relative;
  z-index: 1;
  height: 39px;
}

/* line 83, ../assets/sass/my_style.scss */
#edit-keys {
  border-color: #333;
  cursor: text;
  width: 126px;
  background-color: #333;
  color: #fff;
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 10px 36px 10px 10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/* line 99, ../assets/sass/my_style.scss */
#edit-keys:focus {
  width: 156px;
  z-index: 2;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 108, ../assets/sass/my_style.scss */
#search-block-form button {
  z-index: 2;
  background-color: #333;
  border-color: #333;
  margin-top: 1px;
  margin-right: 2px;
  padding: 5px;
}

/*
 * Test_db module
 */
/* line 122, ../assets/sass/my_style.scss */
.template {
  align-content: center;
  width: 100%;
}

/* line 127, ../assets/sass/my_style.scss */
.item {
  border: solid 2px grey;
  margin: 5px;
  position: relative;
  width: 325px;
  height: 230px;
  display: inline-block;
}

/* line 136, ../assets/sass/my_style.scss */
.tag-item {
  border: solid 2px grey;
  margin: 5px;
  position: relative;
  width: 666px;
  height: 460px;
  display: inline-block;
}

/* line 145, ../assets/sass/my_style.scss */
.tag-item img {
  width: 100%;
  height: 100%;
}

/*
 * Item childs
 */
/* line 153, ../assets/sass/my_style.scss */
.item:nth-child(1) {
  width: 660px;
  height: 460px;
}

/* line 159, ../assets/sass/my_style.scss */
.item:nth-child(2) {
  width: 660px;
  height: 460px;
}

/* line 164, ../assets/sass/my_style.scss */
.item:nth-child(8) {
  margin-left: 15px;
  float: left;
  width: 660px;
  height: 460px;
}

/*
 * end Item childs
 */
/* line 175, ../assets/sass/my_style.scss */
.item-link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .9em;
  line-height: 1.3em;
  color: #fff;
  background: #5d7fb9;
  padding: 6px 12px;
  opacity: .85;
}

/* line 187, ../assets/sass/my_style.scss */
.item-link:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

/* line 193, ../assets/sass/my_style.scss */
.item-body {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #000;
  text-align: left;
  text-overflow: ellipsis;
}

/* line 209, ../assets/sass/my_style.scss */
.item img {
  width: 100%;
  height: 100%;
}

/*
 * Start Quest
 */
/* line 217, ../assets/sass/my_style.scss */
.quest {
  width: 50%;
}

/* line 225, ../assets/sass/my_style.scss */
.quest-heading {
  background-color: #2c3377 !important;
  height: 130px;
}

/* line 230, ../assets/sass/my_style.scss */
.quest-title {
  color: white !important;
  font-family: cursive;
  font-style: italic;
}

/* line 236, ../assets/sass/my_style.scss */
.quest-body {
  min-height: 230px;
  position: relative;
}

/* line 241, ../assets/sass/my_style.scss */
.quest-btn {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
  font-size: 20px;
}

/* line 252, ../assets/sass/my_style.scss */
.quest-score {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  right: 0;
  top: 1px;
}

/* line 261, ../assets/sass/my_style.scss */
.quest-lvl {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 1px;
}

/* line 270, ../assets/sass/my_style.scss */
#quest-lvl {
  display: inline-block;
}

/* line 274, ../assets/sass/my_style.scss */
#quest-score {
  display: inline-block;
}

/*
 * end Quest
 */
