<!-- Add you custom twig html here -->
{%
  set item_classes = [
    'quest',    
  ]
%}


<div align="center" class="template">	
{%- if lvls -%}				   
	<div id="quest-{{ i }}" {{ attributes.addClass(item_classes) }} >
		<div class="panel panel-success quest-panel">
			<div class="panel-heading quest-heading">
		   		<h1 class="quest-title">{{ lvls.0.data.question }}</h1>
			</div>

			<div class="panel-body quest-body">
				<div class="quest-lvl">
					<label id="q-lvl-label">Lvl:</label>
		  			<p id="quest-lvl">{{ lvls.0.data.lvl }}</p>
				</div>				

				<div class="quest-score">
					<label id="q-sc-label">Score:</label>
		  			<p id="quest-score">0</p>
				</div>
				
		  		<button id="quest-ans-1" class="quest-btn btn btn-default">{{ lvls.0.data.answer }}</button>	  			
				<button id="quest-ans-2" class="w_ans quest-btn btn btn-default">{{ lvls.0.data.w_answer_1 }}</button>
				<button id="quest-ans-3" class="w_ans quest-btn btn btn-default">{{ lvls.0.data.w_answer_2 }}</button>
				<button id="quest-ans-4" class="w_ans quest-btn btn btn-default">{{ lvls.0.data.w_answer_3 }}</button>
		  	</div>
		</div>	
	</div>
{%- endif -%}
</div>


<script>
	var que = new Array();
	var lvl = new Array();
	var ans = new Array();
	var wans1 = new Array();
	var wans2 = new Array();
	var wans3 = new Array();
</script>

{% for lvl in lvls %}
	<script>
		que.push('{{ lvl.data.question }}');	
		lvl.push('{{ lvl.data.lvl }}');
		ans.push('{{ lvl.data.answer }}');		
		wans1.push('{{ lvl.data.w_answer_1 }}');	
		wans2.push('{{ lvl.data.w_answer_2 }}');	
		wans3.push('{{ lvl.data.w_answer_3 }}');		
	</script>
{% endfor %}
