@charset "UTF-8";
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/../../bootstrap/stylesheets/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* line 9, ../bootstrap/stylesheets/bootstrap/_normalize.scss */
/* line 9, ../assets/sass/my_style.scss */

.region-content h1 {
  color: black;
}

body {
  padding-top: 108px !important;
  background-color: black;
}

@media (min-width: 1450px) {
  .container {
      width: 1370px;
  }
}

label {
  color: #333333;
}

.nopadding {
  padding: 0;
}

.user-logged-in {
  padding-top: 187px !important;
}

.user-logged-in header {
  margin-top: 79px !important;
}

footer {
  min-height: 60px;  
  width: 100%;
  color: white;
}

footer div {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*
 * Nav bar
 */

@media (min-width: 1200px) {  
  .navbar-header {
    float: none;
  }
}

#navbar {
  background-image: url(/Knife/sites/default/files/starfield-banner.jpg);
}   

#block-undead-search {
  margin: 1.7em 2em 0 0;
  position: relative;
  float: right;  
  right: auto;
  top: auto;
  color: #fff;
}

#search-block-form {
  width: 156px;
  position: relative;
  z-index: 1;
  height: 39px;
}

#edit-keys {
  border-color: #333;
  cursor: text;
  width: 126px;
  background-color: #333;    
  color: #fff;
  position: absolute !important;
  top: 0;
  right: 0;      
  z-index: 2;
  padding: 10px 36px 10px 10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#edit-keys:focus {
  width: 156px;
  z-index: 2;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#search-block-form button {
  z-index: 2;
  background-color: #333; 
  border-color: #333;
  margin-top: 1px;
  margin-right: 2px;
  padding: 5px;
}

/*
 * Test_db module
 */


.template {
  align-content: center;
  width: 100%;
}

.item {
  border: solid 2px grey;
  margin: 5px;
  position: relative;
  width: 325px;
  height: 230px;
  display: inline-block;
}

.tag-item {
  border: solid 2px grey;
  margin: 5px;
  position: relative;
  width: 666px;
  height: 460px;
  display: inline-block;
}

.tag-item img { 
  width: 100%;
  height: 100%;  
}

/*
 * Item childs
 */
.item:nth-child(1) {  
  width: 660px;
  height: 460px;  
 
}

.item:nth-child(2) {  
  width: 660px;
  height: 460px;  
}

.item:nth-child(8) {
  margin-left: 15px;
  float: left;
  width: 660px;
  height: 460px; 
}

/*
 * end Item childs
 */

.item-link {  
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .9em;
  line-height: 1.3em;
  color: #fff;
  background: #5d7fb9;
  padding: 6px 12px;
  opacity: .85;
}

.item-link:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.item-body {  
  display: none;
  background: rgba(255,255,255,.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #000;
  text-align: left; 
  text-overflow: ellipsis;
}

.item img { 
  width: 100%;
  height: 100%;  
}

/*
 * Start Quest
 */
.quest {
  width: 50%;
}

.quest-panel {

}

.quest-heading {
  background-color: #2c3377 !important;
  height: 130px;
}

.quest-title {
  color: white !important;
  font-family: cursive;
  font-style: italic;
}

.quest-body {
  min-height: 230px;
  position: relative;  
}

.quest-btn {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;  
  font-weight: bold;
  font-size: 20px;
}

.quest-score {
  color: black;  
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;    
    right: 0;
    top: 1px;
}

.quest-lvl {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;    
    left: 0;
    top: 1px;
}

#quest-lvl {
  display: inline-block;
}

#quest-score {
  display: inline-block;
}

#quest-ans-1 {

}

#quest-ans-2 {
  
}

#quest-ans-3 {
  
}

#quest-ans-4 {
  
}
/*
 * end Quest
 */